############################################
# MariaDB
############################################

MYSQL_ROOT_PASSWORD=CHANGE_ME

MYSQL_DATABASE=privacyidea

MYSQL_USER=privacyidea

MYSQL_PASSWORD=CHANGE_ME

############################################
# PrivacyIDEA
############################################

PI_SECRET_KEY=GENERATE_A_RANDOM_64_BYTE_HEX_KEY

PI_PEPPER=GENERATE_A_RANDOM_64_BYTE_HEX_KEY

PI_ADMIN_USER=admin

PI_ADMIN_PASSWORD=CHANGE_ME
